@import "../../../../styles/utils/vars";
@import "../../../../styles/utils/mixins";

.shopbar__search-block {
  width: 100%;
  height: 100%;
  @include flexGapAlign(24px);
  justify-content: space-between;
  padding-right: 24px;
  box-shadow: -1px -1px 0 $elementsColor;

  position: relative;
  bottom: 0;
  

  @include onTablet {
    width: 340px;
    box-shadow: -1px 0 0 $elementsColor;
  }
}

.shopbar__search {
  width: 100%;
  font-size: 14px;
  padding: 23px 0 23px 23px;

  &::placeholder {
    font-size: inherit;
    color: $iconsColor;
  }
}

.remove-btn {
  margin-right: 0.5rem;
}
