@import "../utils/vars";
@import "../utils/mixins";

.icon-btn {
  @include square(32px);
  @include flexCenter;
  border: 1px solid $iconsColor;
  transition: border-color $primaryDuration;

  @include onDesktop {
    &:hover {
      border-color: $primaryColor;
    }
  }
}
