@import "./vars";

@mixin onTablet {
  @media (min-width: 760px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin square($_size) {
  width: $_size;
  height: $_size;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexGapAlign($_gap) {
  display: flex;
  align-items: center;
  gap: $_gap;
}

@mixin primaryGridList {
  margin-bottom: 40px;
  display: grid;
  align-items: center;
  grid-template-columns: 1 1fr;
  column-gap: 16px;
  row-gap: 40px;

  @include onTablet {
    grid-template-columns: repeat(3, 1fr);
  }

  @include onDesktop {
    grid-template-columns: repeat(4, 1fr);
  }
}

@mixin barAnimation {
  content: "";
  width: 0;
  height: 3px;
  background-color: $primaryColor;
  position: absolute;
  bottom: -1px;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
  transition-property: color width;
  transition-duration: $primaryDuration;
}

@mixin imgCover {
  object-fit: cover;
  object-position: center;
}
