@import "../../../styles/utils/vars";
@import "../../../styles/utils/mixins";

.shopbar {
  height: 100%;
  display: none;

  @include onDesktop {
    display: block;
  }

  &__list {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__item {
    height: 100%;
  }
}
